language: android

    
script:
  - ./gradlew build --scan -s
android:
  components:
    - build-tools-28.0.3
    - android-28
jobs:
  include:
    - stage: test
      script: ./test 1
    - stage: deploy
      script: ./deploy
